---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & { icon: string; label: string };

const { icon, label, href, class: className, ...props } = Astro.props;
const pathname =
  Astro.url.pathname.replace(import.meta.env.BASE_URL, "") || "/";

const hrefbase = (() => {
  if (href == "/") return href;
  if (!href) return null;
  let url = href.toString();
  url = url.startsWith("/") ? url.slice(1) : url;
  // remove the pagination
  url = url.replace(/\/\d*$/, "");
  return url;
})();
const isActive = hrefbase != null && pathname?.startsWith(hrefbase);
---

<a
  href={href}
  role="button"
  class:list={[
    "header-link flex items-center justify-center gap-1 transition",
    className,
    { "text-primary+30": isActive },
  ]}
  aria-label={label}
  data-path-name={pathname}
  data-href-base={hrefbase}
  {...props}
>
  <Icon name={icon} />
  <span class="max-lg:hidden">
    {label}
  </span>
</a>
